<template>

<div class="row bot bot-border">
      <div class="col">
        <div class="bot-bar">
          <h1 class="song-name">Song name</h1>
          <p class="artist-name">Artist name</p>
          <div class="song-slider">
            <input type="range" value="0" class="seek-bar" />
            <br />
            <span class="current-time">00:00</span>
            <span class="song-duration">00:00</span>
          </div>


          <div class="controls">
              
             <img src="..//assets/backBtn.png" alt="" class="next-btn">  

            <button class="play-btn pause">
              <span></span>
              <span></span>
            </button>

            <img src="..//assets/backBtn.png" alt="" class="back-btn">

          </div>
        </div>
      </div>
    </div>
</template>

<style scoped>
@media only screen and (min-width: 0px) {
  body {
    background: linear-gradient(
      135.03deg,
      #5e17eb 10.91%,
      #b55be7 68.67%,
      #b95ee7 85.41%,
      #c668e6 90.38%
    );
    height: 100vh;
    clear: both;
    text-align: center;
    background-repeat: no-repeat;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bot {
  position: fixed;
  width: 100%;
  height: 50%;
  top: 68%;
  background-color: rgb(93, 51, 166);
  left: 0%;
}
.bot-border {
  border: 1px solid #4c13ae;
}

.img {
  width: 10%;
  height: auto;
}
.left {
  position: fixed;
  width: 15%;
  height: 100%;
  left: 0;
  top: 0;
  background: #4c13ae;
}
.ul-no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.button-play {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #ffbd59;
  margin: auto;
}
.button-play:hover {
  cursor: pointer;
}

.bot-text {
  color: #ffffff;
  font-family: "Righteous", cursive;
}

.fontz {
  color: #ffffff;
  font-family: "Righteous", cursive;
}

.fontz:hover {
  color: #ffbd59;
}

.table-hover tbody tr:hover td {
  background: #ffbd59;
}

.icon-hover:hover {
  cursor: pointer;
}

.song-name {
  text-align: center;
  color: white;
  font-family: "Righteous", cursive;
}

.song-name:hover {
  cursor: default;
  color: #ffbd59;
}

.artist-name {
  text-align: center;
  color: white;
  font-family: "Righteous", cursive;
  text-transform: capitalize;
}

.artist-name:hover {
  cursor: default;
  color: #ffbd59;
  text-transform: capitalize;
}
.song-slider {
  width: 70%;
  position: relative;
  left: 15%;
}
.seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: #03989e;
  overflow: hidden;
  cursor: pointer;
}
.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 20px;
  background: #5e17eb;
  box-shadow: -700px 0 0 700px #ffbd59;
}
.current-time {
  position: absolute;
  font-size: 25px;
  color: #ffffff;
  font-family: "Righteous", cursive;
  left: 0;
}

.song-duration {
  position: absolute;
  font-size: 25px;
  right: 0;
  color: #ffffff;
  font-family: "Righteous", cursive;
}
.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 25px;
  
}
.next-btn {
  cursor: pointer;
  height: auto;
  width: 50px;
}

.back-btn {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
  width: 50px;
  height: auto;
}

.play-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #4c13ae;
  cursor: pointer;
  border: none;
}

.play-btn span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background: #ffbd59;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2) {
  left: 55%;
  transform-origin: center;
}

.play-btn.pause span:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1) {
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause {
  animation: pulse 2s linear infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0;
  }
  50% {
    box-shadow: 0 0 0 5px rgba(255, 189, 89, 0.1);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 189, 89, 0.4);
  }
}

</style>