<template>
 <!--Left-->
          <ul class="list-group-item left">
            <img src="..//assets/Untitled-design.png" alt="#" class="img">
            <li class="ul-no-bullets">
              <h5><a href="#" class="fontz text-sm-start">Upload music</a></h5>
            </li>
            <li class="ul-no-bullets">
              <h5><a href="#" class="fontz">All songs</a></h5>
            </li>
          </ul>
<!--End left-->
</template>


<script>
export default{
    name: 'navbar',
    logo: '../src/assets/Untitled-design.png'
}

</script>

<style scoped>

@media only screen and (min-width: 0px) {

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
}


@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.left {
  position: fixed;
  width: 15%;
  height: 100%;
  left: 0;
  top: 0;
  background: #4c13ae;
}
.ul-no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.fontz {
  color: #ffffff;
  font-family: "Righteous", cursive;
}
.fontz:hover {
  color: #ffbd59;
}
.img {
  width: 70%;
  height: auto;
  cursor:pointer
}
</style>