<template>
    <!--Search tab-->
    <div class="col-fluid">
          <form class="d-flex">
            <input
              class="form-control me-2 fontz"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-dark fontz" type="submit">Search</button>
          </form>
          <h1 class="fontz text-start">All songs</h1>
          <!--End search tab-->

          <!--Table playlist-->
          <table
            class="table table-hover table-borderless table-striped bot-text"
          >
            <thead class="table fontz">
              <th scope="col"><h3></h3></th>
              <th scope="col"><h3>Title</h3></th>
              <th scope="col"><h3>Artist</h3></th>
              <th scope="col"><h3>Album</h3></th>
              <th scope="col"><h3>Duration</h3></th>
            </thead>

            <tbody class>
              <tr>
                <th scope="row">
                  <div>
                    <img
                      src="..//assets/playBtn.png"
                      alt=""
                      class="img-fluid icon-hover"
                      height="auto"
                      width="50"
                      id="icon"
                    />
                  </div>
                </th>
                <td>Aries</td>
                <td>Gorillaz</td>
                <td>Song Machine</td>
                <td>4:13</td>
              </tr>

              <tr>
                <th scope="row">
                  <div>
                    <img
                      src="..//assets/playBtn.png"
                      alt=""
                      class="img-fluid icon-hover"
                      height="auto"
                      width="50"
                      id="icon2"
                    />
                  </div>
              
                </th>

                <td>There will never be another you</td>
                <td>Chet Baker</td>
                <td>Chet Baker sings</td>
                <td>3:00</td>
              </tr>

              <tr>
                <th scope="row">
                  <div>
                    <div>
                      <img
                        src="..//assets/playBtn.png"
                        alt=""
                        class="img-fluid icon-hover"
                        height="auto"
                        width="50"
                        id="icon3"
                      />
                    </div>
                  </div>
                
                </th>

                <td>Chocolate</td>
                <td>The 1975</td>
                <td>The 1976</td>
                <td>3:44</td>
              </tr>
            </tbody>
          </table>
          <!--Table playlist end-->
          </div>
</template>


<style scoped>
@media only screen and (min-width: 0px) {
  body {
    background: linear-gradient(
      135.03deg,
      #5e17eb 10.91%,
      #b55be7 68.67%,
      #b95ee7 85.41%,
      #c668e6 90.38%
    );
    height: 100vh;
    clear: both;
    text-align: center;
    background-repeat: no-repeat;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-right {
  position: absolute;
  width: 75%;
  height: 100%;

  background: #4c13ae;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bot-text {
  color: #ffffff;
  font-family: "Righteous", cursive;
}
.fontz {
  color: #ffffff;
  font-family: "Righteous", cursive;
}
.fontz:hover {
  color: #ffbd59;
}
.table-hover tbody tr:hover td {
  background: #ffbd59;
}
.icon-hover:hover {
  cursor: pointer;
}
.song-name {
  text-align: center;
  color: white;
  font-family: "Righteous", cursive;
}
.song-name:hover {
  cursor: default;
  color: #ffbd59;

}
</style>