<template>

<div id="app">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <Navbar/>
      </div>
      <div class="col-10">
        <Right />
      </div>
    </div>
<div class="row">
  <div class="col">
      <Bottom/>
  </div>
</div>
  </div>
  


</div>
  

</template>

<script>
import Navbar from './components/Navbar.vue'
import Right from './components/Right.vue'
import Bottom from './components/Bottom.vue'



export default{
  name:'app',
  components:{
    Navbar,
    Right,
    Bottom

  },
  data(){
    return{
    
    }
  }
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body {
    background: linear-gradient(
      135.03deg,
      #5e17eb 10.91%,
      #b55be7 68.67%,
      #b95ee7 85.41%,
      #c668e6 90.38%
    );
    height: 100vh;
    clear: both;
    text-align: center;
    background-repeat: no-repeat;
  }
</style>
