body {
  background-color: #17252a !important;
}
.abt-me {
  width: 287px;
  height: 439px;
  left: 12px;
  top: 42px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 34px;
  text-align: center;
  color: #def2f1;
}
.abt-me2 {
  position: absolute;
  width: 287px;
  height: 439px;
  left: 24px;
  top: 155px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  text-align: center;

  color: #def2f1;
}
.abt-me-box-front {
  width: 326px;
  height: 920px;
  left: 6px;
  top: 0px;

  background: rgba(43, 122, 120, 0.8);
  /* background: red; */
  backdrop-filter: blur(4px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.featured-back-box {
  width: 628px;
  height: 300px;
  left: 142px;
  top: 124px;
  background: rgba(58, 175, 169, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.featured1 {
  width: 188px;
  height: 264px;
  background-color: rgba(43, 122, 120, 0.5);
  left: 12px;
  top: 18px;
}
.featured2 {
  width: 188px;
  height: 264px;
  background-color: rgba(43, 122, 120, 0.5);
  left: 220px;
  top: 18px;
}
.featured3 {
  width: 188px;
  height: 264px;
  background-color: rgba(43, 122, 120, 0.5);
  left: 428px;
  top: 18px;
}
.lets-talk {
  width: 428px;
  height: 152px;
  left: 824px;
  top: 612px;

  background: #c4c4c4;
  border-radius: 14px;
}
.lets-talk-p {
  width: 232px;
  height: 41px;
  left: -32px;
  top: -58px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  text-decoration-line: underline;
  color: #def2f1;
}
.text {
  background-color: transparent;
  color: black;
  padding: 1em;
  border-radius: 14px;
  border: 2px solid transparent;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-weight: 500px;
  font-size: 16px;
  line-height: 1.4;
  width: 428px;
  height: 152px;
  transition: all 0.2s;
  resize: none;
}
.text:focus {
  cursor: text;
}
.btn {
  position: relative;
  background: #3aafa9 !important;
  border-color: #3aafa9 !important;
  border-radius: 6px;
  width: 159px;
  height: 36px;
  left: 262px;
  border-radius: 14px;
}
.twt {
  position: absolute;
  width: 63px;
  height: 69px;
  left: 28px;
  top: 832px;

  border-radius: 29.0476px;
}
.twt:hover {
  cursor: pointer;
}
.discord {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 24px;
  top: 752px;

  border-radius: 30px;
}
.discord:hover {
  cursor: pointer;
}
.facebook {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 28px;
  top: 608px;

  border-radius: 32px;
}
.facebook:hover {
  cursor: pointer;
}
.linkedin {
  position: absolute;
  width: 64px;
  height: 86px;
  left: 28px;
  top: 682px;

  border-radius: 28.8679px;
}
.linkedin:hover {
  cursor: pointer;
}
.poly1 {
  position: relative;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid rgba(196, 196, 196, 1);
  border-bottom: 25px solid transparent;
  left: -252px;
  top: 142px;
}
.poly2 {
  position: relative;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid rgba(196, 196, 196, 1);
  border-bottom: 25px solid transparent;
  left: 424px;
  top: 86px;
}
.poly1:hover {
  cursor: pointer;
}
.poly2:hover {
  cursor: pointer;
}
.feat {
  width: 0px;
  height: 0px;
  left: 320px;
  top: 32px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: px;
  text-align: center;
  color: #def2f1;
}
.fs {
  font-size: 24px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
